




main{
    background-color: rgb(165, 236, 176)


    
}

.container1{
    background-image: url(https://th.bing.com/th/id/OIP.A4WJx3oDXP6JFK_BIbsGxAHaE7?pid=ImgDet&rs=1);
    background-repeat: no-repeat;
    background-size: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
    font-family: sans-serif;
    text-align: center;
}


.itens{
    width: 20vw;
    color: rgb(4, 69, 4);
}

.botao{

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
}

.botao-conta{
    color: white;
    background-color: green;
}

.box-verde{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    background-color: rgb(4, 53, 4);
    font-family: sans-serif;
    text-align: center;
    color: white;
}

.box-direita{
    display: flex;
    justify-content: right;
    font-family: sans-serif;
    padding-left: 70%;
    width: 20%;

}
